// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "src/variables";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-primary: (
  50: #eaf8f6,
  100: #cbeee9,
  200: #a8e2db,
  300: #85d6cd,
  400: #6acec2,
  500: #50c5b7,
  600: #49bfb0,
  700: #40b8a7,
  800: #37b09f,
  900: #27a390,
  A100: #e3fffa,
  A200: #b0fff2,
  A400: #7dffe9,
  A700: #63ffe5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-secondary: (
  50: #e3e6e7,
  100: #b8c0c2,
  200: #89969a,
  300: #596b71,
  400: #364c52,
  500: #122c34,
  600: #10272f,
  700: #0d2127,
  800: #0a1b21,
  900: #051015,
  A100: #56c6ff,
  A200: #23b4ff,
  A400: #009eef,
  A700: #008dd5,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CoinEquations-primary: mat-palette($mat-primary);
$CoinEquations-accent: mat-palette($mat-secondary, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CoinEquations-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CoinEquations-theme: mat-light-theme(
  (
    color: (
      primary: $CoinEquations-primary,
      accent: $CoinEquations-accent,
      warn: $CoinEquations-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($CoinEquations-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #efe9f4;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.copyright {
  pointer-events: all;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #666666;
  margin: 20px 40px;
}
